/*! Variables start */
:root {
    /* Font Styles */
    --mainfont: "poppins", sans-serif;
  
    /* Color Variables */
    --FadeDarkBlue: #0D1016;
    --FadeDarkBlue-2: #161A22;
    --FadeDarkBlueLow: #20252D;
    --BaseIceBlue: #CAE9FF;
    --colorWhite: #fdfdfd;

  }
  
  body {
    font-family: var(--mainfont) !important;
    cursor: default;
    height: 100vh;
    background-color: var(--FadeDarkBlue);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Reset Styles */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  /* Text Selection Styles */
  ::-moz-selection {
    color: var(--FadeDarkBlue-2);
    background: var(--BaseIceBlue);
  }
  
  /* Page selection colos  */
  ::selection {
    color: var(--FadeDarkBlue-2);
    background: var(--BaseIceBlue);
  }
  
  .Active {
    color: var(--BaseIceBlue) !important;
  }
  
  /*! Variables End */
  
  /* Back To Top Button start */
  #btn-back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 10;
  }
  
  .BackToTop {
    height: 50px;
    width: 50px;
    background-color: var(--FadeDarkBlueLow);
    border-radius: 50%;
    transition: .2s linear;
  }
  
  .BackToTop:hover {
    background-color: var(--FadeDarkBlueLow);
  }
  
  .ri-arrow-up-fill {
    color: var(--colorWhite);
    font-size: 18px;
  }


  html {
    scroll-behavior: smooth;
  }
  
  /* Back To Top Button end */


  
  /* styles start here */



/* 
========================================================
                  Nav Bar
========================================================
*/



.main-logo {
  width: 120px;
  margin-left: 20px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-link {
  color: var(--fade-dark-blue-2) !important;
  font-family: var(--mainfont);
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
}

.nav-link:hover {
  color: var(--colorWhite) !important;
}




.navbar-nav {
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0 15px;
}

.navbar-nav .nav-item {
  margin-right: 5px;
}

.navbar {
  background-color: var(--FadeDarkBlueLow) !important;
  box-shadow: 0px 3.22353px 14.50588px 0px rgba(34, 87, 122, 0.15);
  color: var(--BaseIceBlue);
}

.d-NavContainerFluid {
  background-color: var(--FadeDarkBlueLow) !important;
  width: 100%;
}



  .ri-arrow-right-line {
      margin-left: -30px;
  }



  /* resume download button */

  .btn-my-resume {
      --width: 150px;
      --height: 45px;
      --tooltip-height: 35px;
      --tooltip-width: 90px;
      --gap-between-tooltip-to-button: 18px;
      --button-color: var(--BaseIceBlue);
      --tooltip-color: var(--BaseIceBlue);
      width: var(--width);
      height: var(--height);
      background: var(--FadeDarkBlueLow);
      position: relative;
      text-align: center;
      border-radius: 0.45em;
      transition: background 0.3s;
      border-color: var(--BaseIceBlue);
      border: 1.5px solid;
      color: var(--Base-Ice-Blue, #CAE9FF);
      font-family: Poppins;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.707px;
      text-transform: capitalize;
  }
  
  .btn-my-resume::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: var(--FadeDarkBlueLow);
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .btn-my-resume::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .btn-my-resume::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-my-resume-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: var(--BaseIceBlue);
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon-download {
    color: var(--FadeDarkBlueLow);
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .btn-my-resume:hover {
    background: var(--BaseIceBlue);
  }
  
  .btn-my-resume:hover .text {
    top: -100%;
  }
  
  .btn-my-resume:hover .icon {
    top: 0;
  }
  
  .btn-my-resume:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .btn-my-resume:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .btn-my-resume:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  



  
/* 
========================================================
                  head title and img section
========================================================
*/

.img-right-head {
    text-align: right;
}

.head-section-title {
    margin-top: 10%;
    animation-delay: 0s;
    animation-duration: 3s;
}



.head-title-1 {
    color: #FFF;

    text-align: left;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.138px;
    text-transform: capitalize;
    margin-top: 10%;
    margin-left: 7%;
}

.name-head {
    color: var(--BaseIceBlue);
    font-size: 75px;
    font-weight: 700;
    margin-left: 5%;
    text-align: left;
}

/* .col-md-6 {
    width: auto;
} */

.caption-head {
    color: #34FCF0;
    text-align: left;
    font-family: Poppins;
    font-size: 13.9px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.71px;
    text-transform: lowercase;
    margin-left: 5%;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}


  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--BaseIceBlue); }
  }







  /* button my works */

  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--FadeDarkBlueLow);
    color: var(--BaseIceBlue);
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: var(--BaseIceBlue);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: var(--FadeDarkBlue);
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }

  .myworks-btn-head {
    margin-left: 5%;
    margin-top: 5%;
  }






  /* 
========================================================
                  head bar section
========================================================
*/

.head-bar-panel {
    height: auto;
    width: auto;
    padding-bottom: 18px;
    padding-top: 10px;
    background-color: var(--FadeDarkBlueLow);
    margin-top: 5%;
    border-radius: 27.49px;
}

.panel-content {
    text-align: center;
}

/* .labels-content {
    margin-top: 10px;
    text-align: center;
}*/

.labels-content-5 {
    margin-top: 5px;
} 

.labels-content-4 {
    margin-top: 5px;
} 





  /* 
========================================================
                  About section
========================================================
*/

.about-section {
    margin-top: 10%;
}

.about-sec-aboutMe-text {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 19.196px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.384px;
    text-transform: capitalize;
    margin-top: 10%;
}

.about-sec-name-text {
    color: #FFF;

    text-align: left;
    font-family: Poppins;
    font-size: 49.288px;
    font-style: normal;
    font-weight: 800;
    margin-top: -10px;
    line-height: normal;
    letter-spacing: 0.986px;
    text-transform: capitalize;
}

.about-sec-name-Span-text {
    color: var(--BaseIceBlue);
    font-family: Poppins;
    font-size: 49.288px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.986px;
    text-transform: capitalize;
}

.about-sec-dis-text {
    color: #FFF;
    margin-top: 5%;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}


.skill-Box {
    display: inline-flex;
    padding: 6px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--BaseIceBlue);
    color: var(--FadeDarkBlue-2);
    border-radius: 6.938px;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;

    color: var(--fade-dark-blue-2, #161A22);
    text-align: center;
    font-family: Poppins;
    font-size: 19.196px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.384px;
    text-transform: capitalize;
    margin-right: 2px;
}

.skill-Box:hover {
    border-color: var(--BaseIceBlue);
    color: var(--BaseIceBlue);
    background-color: var(--FadeDarkBlue);
}


.sec-line-skillset {
    margin-top: 8px;
}

.exploreBtn-aboutMe-Section {
    text-align: left !important;
    margin-top: 8%;
    margin-left: -1px;
}

