/*! Variables start */
:root {
    /* Font Styles */
    --mainfont: "poppins", sans-serif;
  
    /* Color Variables */
    --FadeDarkBlue: #0D1016;
    --FadeDarkBlue-2: #161A22;
    --FadeDarkBlueLow: #20252D;
    --BaseIceBlue: #CAE9FF;
    --colorWhite: #fdfdfd;

  }
  
  body {
    font-family: var(--mainfont) !important;
    cursor: default;
    height: 100vh;
    background-color: var(--FadeDarkBlue);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Reset Styles */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  /* Text Selection Styles */
  ::-moz-selection {
    color: var(--FadeDarkBlue-2);
    background: var(--BaseIceBlue);
  }
  
  /* Page selection colos  */
  ::selection {
    color: var(--FadeDarkBlue-2);
    background: var(--BaseIceBlue);
  }
  
  .D-Active {
    color: var(--BaseIceBlue) !important;
  }
  
  /*! Variables End */
  
  /* Back To Top Button start */
  #btn-back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 10;
  }
  
  .D-BackToTop {
    height: 50px;
    width: 50px;
    background-color: var(--colorYellow);
    border-radius: 50%;
    transition: .2s linear;
  }
  
  .D-BackToTop:hover {
    background-color: var(--colorBlueMain);
  }
  
  .ri-arrow-up-fill {
    color: var(--colorWhite);
    font-size: 18px;
  }


  html {
    scroll-behavior: smooth;
  }
  
  /* Back To Top Button end */


  
  /* styles start here */



/* 
========================================================
                  Nav Bar
========================================================
*/

.main-logo {
  width: 120px;
  margin-left: 20px;
  flex-shrink: 0;
}

.nav-link {
  color: var(--colorBlueMain) !important;
  font-family: var(--mainfont);
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
}

.nav-link:hover {
  color: var(--colorWhite) !important;
}

.D-Button-Primary {
  width: 136px;
  height: 44px;
  flex-shrink: 0;
  border-radius: px;
  box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
  background: var(--colorBlueMain);
  color: var(--colorWhite);
  border-color: transparent;
  transition: 10ms;
  font-weight: 500;
  letter-spacing: 1px;
}



.navbar-nav {
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0 15px;
}

.navbar-nav .nav-item {
  margin-right: 5px;
}

.navbar {
  background-color: var(--FadeDarkBlueLow) !important;
  border-radius: 50px;
  margin-top: 10px;
  box-shadow: 0px 3.22353px 14.50588px 0px rgba(34, 87, 122, 0.15);
  color: var(--BaseIceBlue);
}

.d-NavContainerFluid {
  background-color: var(--FadeDarkBlueLow) !important;
  width: 100%;
}



/* navbar lets talk btn  */

.A-nav-btn-talk {
    cursor: pointer;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.707px;
    text-transform: capitalize;
    font-family: var(--mainfont);
    transition: 0.5s;
    padding: 8px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    border-color: var(--BaseIceBlue);
    background-color: var(--FadeDarkBlueLow);
    color: var(--BaseIceBlue);
    display: flex;
    align-items: center;
    font-size: 17.665px;
}
  
  .A-nav-btn-talk:hover {
    color: var(--FadeDarkBlueLow);
    background-color: var(--BaseIceBlue);

  }
  
  .A-nav-btn-talk > nav-talk-btn {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }


  .A-nav-btn-talk:active {
      transform: scale(0.95);
  }

  .ri-arrow-right-line {
      margin-left: -30px;
  }



  
/* 
========================================================
                  head title and img section
========================================================
*/

.img-right-head {
    text-align: right;
}

.head-section-title {
    margin-top: 10%;
}

.head-title-1 {
    color: #FFF;

    text-align: left;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.138px;
    text-transform: capitalize;
    margin-top: 10%;
    margin-left: 7%;
}

.name-head {
    color: var(--BaseIceBlue);
    font-size: 75px;
    margin-left: 5%;
    text-align: left;
}

/* .col-md-6 {
    width: auto;
} */

.caption-head {
    color: var(--Base-Ice-Blue, #CAE9FF);
    text-align: left;
    font-family: Poppins;
    font-size: 17.762px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.71px;
    text-transform: lowercase;
    margin-left: 5%;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}


  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--BaseIceBlue); }
  }







  /* button my works */

  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--FadeDarkBlueLow);
    color: var(--BaseIceBlue);
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: var(--BaseIceBlue);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: var(--FadeDarkBlue);
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }

  .myworks-btn-head {
    margin-left: 5%;
    margin-top: 5%;
  }






  /* 
========================================================
                  head bar section
========================================================
*/

.head-bar-panel {
    height: auto;
    width: auto;
    padding-bottom: 18px;
    padding-top: 10px;
    background-color: var(--FadeDarkBlueLow);
    margin-top: 5%;
    border-radius: 27.49px;
}

.panel-content {
    text-align: center;
}

/* .labels-content {
    margin-top: 10px;
    text-align: center;
}*/

.labels-content-5 {
    margin-top: 10px;
} 

.labels-content-4 {
    margin-top: 5px;
} 





  /* 
========================================================
                  About section
========================================================
*/

.about-section {
    margin-top: 10%;
}

.about-sec-aboutMe-text {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 19.196px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.384px;
    text-transform: capitalize;
    margin-top: 10%;
}

.about-sec-name-text {
    color: #FFF;

    text-align: left;
    font-family: Poppins;
    font-size: 49.288px;
    font-style: normal;
    font-weight: 800;
    margin-top: -10px;
    line-height: normal;
    letter-spacing: 0.986px;
    text-transform: capitalize;
}

.about-sec-name-Span-text {
    color: var(--BaseIceBlue);
    font-family: Poppins;
    font-size: 49.288px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.986px;
    text-transform: capitalize;
}

.about-sec-dis-text {
    color: #FFF;
    margin-top: 5%;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}


.skill-Box {
    display: inline-flex;
    padding: 6px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--BaseIceBlue);
    color: var(--FadeDarkBlue-2);
    border-radius: 6.938px;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;

    color: var(--fade-dark-blue-2, #161A22);
    text-align: center;
    font-family: Poppins;
    font-size: 19.196px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.384px;
    text-transform: capitalize;
    margin-right: 2px;
}

.skill-Box:hover {
    border-color: var(--BaseIceBlue);
    color: var(--BaseIceBlue);
    background-color: var(--FadeDarkBlue);
}


.sec-line-skillset {
    margin-top: 8px;
}

.exploreBtn-aboutMe-Section {
    text-align: left !important;
    margin-top: 8%;
    margin-left: -1px;
}

